html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #000000;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 300px;
    margin: 0 auto;
}

h2,
h3,
p,
input,
select {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

/* INFO SECTION */

.info {
    background-image: url("../images/background-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 26px;
    padding-bottom: 10px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.info__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 6px;
}

.info__subtitle {
    font-size: 18px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    width: 300px;
    height: 20px;
    background-color: #339999;
    margin-bottom: 6px;
}

.info__subtitle-text {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.highlight-text {
    font-size: 20px;
    font-weight: 800;
    display: block;
    color: #339999;
}

.highlight-subtext {
    font-size: 13px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

/* REGISTER SECTION */

.register {
    padding: 15px 0;
    min-width: 320px;

    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.register__main-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;

}

.register__title {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #fefdff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.register__subtitle {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.register__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.input-container {
    width: 300px;
    height: 50px;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding-left: 50px;
    position: relative;
}

.form-item {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    outline: none;
}

.input-container::before {
    content: "";
    display: block;
    width: 30px;
    height: 25px;
    background-image: url("../images/user-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}

.input-container:last-of-type {
    margin-bottom: 20px;
}

.form-item.select {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}

.input-container:last-of-type {
    padding-left: 120px;
}

.form-item.phone {
    border-left: solid 1px black;
    padding-left: 16px;
}

.button--try {
    width: 100%;
    height: 58px;
    border-width: 2px;
    border-top-style: solid;
    background-image: linear-gradient(to top, rgb(153, 204, 51) 0%, rgb(204, 255, 51) 100%);
    box-shadow: 0px 4px 0px 0px rgba(153, 204, 51, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
    border-bottom: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    font-weight: 800;
    text-align: center;
    filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.5));
    text-transform: uppercase;
}

.button--under-text {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #fefdff;
    font-weight: 400;
    text-align: center;
    padding: 0 4px;
}

/*WHAT WE OFFER SECTION */

.what-we-offer {
    background-image: url("../images/what-we-offer-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 26px;
    padding-bottom: 10px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
}

.what-we-offer__title {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 30px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.offer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offer-list__item {
    padding-top: 140px;
    display: block;
    position: relative;
    width: 100%;
}

.offer-list__item::before {
    display: block;
    content: "";
    width: 85px;
    height: 85px;
    position: absolute;
    background-image: url("../images/person-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
}

.item-title {
    width: 301px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #339999;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

}

/* START NOW SECTION */

.start-now {
    min-width: 320px;
    background-image: url("../images/start-now-section-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
}

.start-now__title {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.start-now__title+a {
    font-size: 24px;
    font-weight: 800;
}

.link--start-now {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
    border: none;
    background-image: linear-gradient(to top, rgb(153, 204, 51) 0%, rgb(204, 255, 51) 100%);
    box-shadow: 0px 4px 0px 0px rgba(37, 112, 113, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
    border-bottom: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    font-weight: 800;
    text-align: center;
    filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.5));
    text-transform: uppercase;
    color: black;
}

/* FOOTER */
.footer {
    min-width: 320px;
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 48px;
}

.footer__text {
    text-align: center;
    width: 299px;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    font-weight: 400;
}