html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #000000;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 300px;
    margin: 0 auto;
}

h2,
h3,
p,
input,
select {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

/* INFO SECTION */

.info {
    background-image: url("../images/background-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 26px;
    padding-bottom: 10px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.info__img {
    width: 300px;
    height: 188px;
}

.info__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 6px;
}

.info__subtitle {
    font-size: 18px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    width: 300px;
    height: 20px;
    background-color: #339999;
    margin-bottom: 6px;
}

.info__subtitle-text {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.highlight-text {
    font-size: 20px;
    font-weight: 800;
    display: block;
    color: #339999;
}

.highlight-subtext {
    font-size: 13px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

/* REGISTER SECTION */

.register {
    padding: 15px 0;
    min-width: 320px;

    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.register__main-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 116px;
}

.register__title {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #fefdff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.register__subtitle {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.register__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.input-container {
    width: 300px;
    height: 50px;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding-left: 50px;
    position: relative;
}

.form-item {
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    outline: none;
}

.input-item-container .input-container::before {
    content: "";
    display: block;
    width: 30px;
    height: 25px;
    background-image: url("../images/user-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 13px;
    left: 9px;
    color: black;
}

.input-item-container:nth-of-type(3) .input-container::before {
    background-image: url("../images/email-icon.png");
}

.input-item-container:nth-of-type(4) .input-container::before {
    background-image: url("../images/location-icon.png");
}

.input-item-container:last-of-type .input-container::before {
    background-image: url("../images/tel-icon.png");
}

.input-item-container:last-of-type {
    margin-bottom: 20px;
}


.form-item.select {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}


.form-item.phone {
    border-left: solid 1px black;
    padding-left: 16px;
}

.input-item-container {
    position: relative;
}

.helper-text {
    display: block;
    background-color: red;
    position: absolute;
    padding: 5px 10px;
    bottom: -18px;
    left: 0;
    z-index: 100;
    color: white;
    width: 250px;
}

.button--try {
    width: 300px;
    height: 58px;
    border-width: 2px;
    border-top-style: solid;
    background-image: linear-gradient(to top, rgb(153, 204, 51) 0%, rgb(204, 255, 51) 100%);
    box-shadow: 0px 4px 0px 0px rgba(153, 204, 51, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
    border-bottom: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    font-weight: 800;
    text-align: center;
    filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.5));
    text-transform: uppercase;
}

.button--under-text {
    width: 300px;
    font-size: 16px;
    line-height: 24px;
    color: #fefdff;
    font-weight: 400;
    text-align: center;
    padding: 0 4px;
}

/*WHAT WE OFFER SECTION */

.what-we-offer {
    background-image: url("../images/what-we-offer-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 26px;
    padding-bottom: 46px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
}

.what-we-offer__title {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 30px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.offer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offer-list__item {
    padding-top: 140px;
    display: block;
    position: relative;
    width: 100%;
}

.offer-list__item::before {
    display: block;
    content: "";
    width: 85px;
    height: 85px;
    position: absolute;
    background-image: url("../images/person-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
    top: 24px;
    left: 100px;
}

.offer-list__item:nth-child(2)::before {
    background-image: url("../images/money-icon.png");
}

.offer-list__item:last-child::before {
    background-image: url("../images/lamp-icon.png");
}

.item-title {
    width: 301px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #339999;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

}

.item-text {
    width: 300px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.item-subtext {
    display: block;
    width: 300px;
    padding-top: 26px;
}

/* START NOW SECTION */

.start-now {
    min-width: 320px;
    background-image: url("../images/start-now-section-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
}

.start-now__title {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.start-now__title+a {
    font-size: 24px;
    font-weight: 800;
}

.link--start-now {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 58px;
    border: none;
    background-image:
        url("../images/button-arrow.png"), linear-gradient(to top, rgb(153, 204, 51) 0%, rgb(204, 255, 51) 100%);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    box-shadow: 0px 4px 0px 0px rgba(37, 112, 113, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
    border-bottom: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

/* FOOTER */

.footer {
    min-width: 320px;
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 48px;
}

.footer__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 299px;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    font-weight: 400;
}

@media (min-width: 1080px) {
    .container {
        width: 1050px;
        padding: 0 15px;
    }

    .info {
        background-image: none;

    }

    .outher-sections-wrapper {
        min-width: 1050px;
        background-image: url("../images/main-desktop-background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .sections-wrapper {
        width: 1050px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
    }

    .container.container-desktop-info {
        width: 540px;
        margin-bottom: 90px;
        padding-top: 20px;
    }

    .container.container-desktop-register {
        width: 420px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* INFO SECTION */

    .info__title {
        font-size: 60px;
        width: 542px;
        line-height: 60px;
    }

    .info__subtitle {
        font-size: 30px;
        width: 495px;
        height: 40px;
    }

    .info__subtitle-text {
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        padding-left: 15px;
    }

    .highlight-text {
        font-size: 30px;

        text-align: left;
    }

    .highlight-subtext {
        font-size: 20px;
        width: 510px;
    }

    .info__img {
        width: 510px;
        height: 316px;
    }

/* REGISTER SECTION */

    .register {
        width: 420px;
        padding-top: 50px;
    }

    .register__main-img {
        width: 220px;
        height: 52px;
        margin-bottom: 20px;
    }

    .input-container {
        width: 360px;
    }

    .button--try {
        width: 360px;
    }

    .button--under-text {
        width: 328px;
    }

    .input-item-container:last-of-type {
        margin-bottom: 26px;
    }

    /* WHAT WE OFFER SECTION */

    .what-we-offer {
        background-image: url("../images/offer-desktop-background.jpg");
    }

    .what-we-offer__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .offer-list {
        display: flex;
        width: 1050px;
        justify-content: space-between;
    }

/* START NOW SECTION */

    .start-now {
        background-image: url("../images/start-now-background-desktop.jpg");
    }

    .start-now__title {
        font-size: 30px;
    }

    .start-now__title+a {
        font-size: 30px;
    }

    .link--start-now {
        width: 510px;
        height: 100px;
        margin: 0 auto;
    }

/* FOOTER */

    .footer__text {
        width: 894px;
    }

    span.styled-footer-text {
        display: block;
        padding-top: 16px;
        width: 904px;
    }
}